:root {
    --adv-section-bg-color: #161F49;

    --logo-header-color: #000000;
    --logo-footer-color: #FFFFFF;

    --main-font-color: #404040;
    --secondary-font-color: #FFFFFF;
    --third-font-color: #646565;

    --button-main-text-color: #FFFFFF;
    --button-main-bg-color: #2468FF;

    --green-button-active-bg-color: #00B68C;
    --green-button-main-bg-color: #999999;
    --button-secondary-text-color: rgba(64, 64, 64, 0.3);

    --selector-main-text-color: #999999;
    --selector-accent-text-color: #2468FF;

    --form-placeholder-color: #989898;

    --main-section-bg-color: #FFFFFF;
    --secondary-section-bg-color: #F7F7F7;
    --thirdly-section-bg-color: #161F49;
    --forthly-section-bg-color: #404040:
}



h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}

.section {
    padding: 115px 0px;
}

.button {
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: #2468ff;
}

/*-----------------logo*/
.footer {
    padding:90px 200px;
    color: var(--button-main-text-color);
    background-color: var(--adv-section-bg-color);
    font-family: 'Roboto';
        
        font-weight: 400;
        font-size: 18px;
        line-height: 1.39;
}

.logo{
    display: block;
    fill: var(--logo-footer-color);
    margin-bottom: 58px;
}

.footer-wrap{
    display: flex;
    margin-bottom: 32px;
}
/*-----------------left*/
.footer-about{
    width: calc(50%);
}

.footer-about-lists{
    display: flex;
   
}

.footer-about-list{
    display: flex;
        flex-direction: column;
    gap: 6px;
}

.footer-about-item{
    width: calc(50%);
}

/*-----------------right*/
.footer-connect{
    width: calc(50%);
    
}

.footer-connect-title{
font-size: 36px;
    line-height: 1.33;
    
    margin-bottom: 6px;
}

.footer-connect-text{
    margin-bottom: 68px;
}
/*-----------------social*/
.footer-social{
    display: flex;
        align-items: baseline;
}

.footer-social-wrap{
   width: calc(50%);
}

.footer-social-list{
    display: flex;
    gap: 27px;
      
}

.footer-unicode{
    width: calc(50%);
    font-size: 14px;
        line-height: 2.29;
        letter-spacing: 0.11px;
        left: auto;
}

.footer-icon{
    
    fill: var(--button-main-text-color);
    display: flex;

}

.social{
    cursor: pointer;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social:hover .footer-icon,
.social:focus .footer-icon{
    fill: var(--green-button-active-bg-color);
}

.submit{
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit:hover,
.submit:focus{
    background-color: var(--green-button-active-bg-color);
}